
<footer class="pt-5 pb-5 sm-pt-40px sm-pb-45px footer-dark bg-extra-medium-slate-blue">
  <div class="container">
    <div class="row justify-content-center">
      <!-- start footer column -->
      <div class="col-lg-3 col-sm-6 last-paragraph-no-margin order-5 order-sm-4 order-lg-1 text-center text-sm-start">
        <a href="javascript:void(0);" class="footer-logo mb-15px d-block d-lg-inline-block"><img src="images/demo-business-logo-white.png" data-at2x="images/demo-business-logo-white@2x.png" alt=""></a>
        <p class="w-90 sm-w-100 d-inline-block mb-15px">Luxury cars are high-end vehicles that offer a premium feel with above-average comfort, features, and equipment.</p>
        <p>&COPY;  2024 <a href="javascript:void(0);" target="_blank" class="text-white text-decoration-line-bottom">Meander Software  </a></p>
      </div>
      <!-- end footer column -->
      <!-- start footer column -->
      <div class="col-5 col-lg-2 col-sm-4 md-mb-50px sm-mb-30px order-1 order-lg-2">
        <span class="alt-font d-block text-white mb-5px">Company</span>
        <ul>
          <li><a href="{% url 'business-about' %}">About us</a></li>
          <li><a href="{% url 'car_rent_list' %}">Our services</a></li>
          <li><a href="{% url 'business-clients' %}">Our clients</a></li>
          <li><a href="{% url 'business-contact' %}">Contact</a></li>
        </ul>
      </div>
      <!-- end footer column -->
      <!-- start footer column -->
      <div class="col-7 col-lg-2 col-sm-4 md-mb-50px sm-mb-30px order-2 order-lg-3">
        <span class="alt-font d-block text-white mb-5px">Services</span>
        <ul>
          <li><a href="{% url 'car_rent_list' %}">Branding</a></li>
          <li><a href="{% url 'car_rent_list' %}">eCommerce</a></li>
          <li><a href="{% url 'business-contact' %}">Content</a></li>
          <li><a href="{% url 'car_rent_list' %}">Marketing</a></li>
          <li><a href="{% url 'car_rent_create' %}">Services</a></li>
        </ul>
      </div>
      <!-- end footer column -->
      <!-- start footer column -->
      <div class="col-5 col-lg-2 col-sm-4 md-mb-50px sm-mb-30px order-3 order-lg-4">
        <span class="alt-font d-block text-white mb-5px">Social connect</span>
        <ul>
          <li><a href="https://www.facebook.com/meandersoftware/" target="_blank">Facebook</a></li>
          <li><a href="https://nl.linkedin.com/company/meandersoftware/" target="_blank">Linkedin</a></li>
          <li><a href="https://www.facebook.com/meandersoftware/" target="_blank">Twitter</a></li>
          <li><a href="https://www.instagram.com/meander.software/" target="_blank">Instagram</a></li>
          <li><a href="https://www.youtube.com/@meandersoftware" target="_blank">Youtube</a></li>
        </ul>
      </div>
      <!-- end footer column -->
      <!-- start footer column -->
      <div class="col-7 col-lg-3 col-sm-6 xs-mb-30px last-paragraph-no-margin order-4 order-sm-5 order-lg-5">
        <span class="alt-font d-block text-white mb-5px">Get in touch</span>
        <p class="w-80 lg-w-100 md-w-70 sm-w-100 mb-10px">Tdi Business Centre, 18 - 11th, VR Punjab Mall Rd, Sector 118, Sahibzada Ajit Singh Nagar, Punjab 160055</p>
        <div><i class="feather icon-feather-phone-call icon-very-small text-white me-10px"></i><a href="tel:08090549054" class="text-white">+91 8090549054</a></div>
        <div><i class="feather icon-feather-mail icon-very-small text-white me-10px"></i><a href="https://www.meander.software/" class="text-white text-decoration-line-bottom">www.meander.software.com</a></div>
      </div>
      <!-- end footer column -->
    </div>
  </div>
</footer>
<!-- end footer -->
<!-- start scroll progress -->
<div class="scroll-progress d-none d-xxl-block">
  <a href="#" class="scroll-top" aria-label="scroll">
    <span class="scroll-text">Scroll</span><span class="scroll-line"><span class="scroll-point"></span></span>
  </a>
</div>

<!-- end scroll progress -->